# 優先指定二進位檔來源
--extra-index-url https://download.pytorch.org/whl/cu116
-f https://data.pyg.org/whl/torch-1.13.1+cu116.html

# 核心架構
torch==1.13.1+cu116
numpy==1.24.2

# PyG 核心依賴 (務必鎖定版本與編譯標籤)
pyg-lib==0.1.0+pt113cu116
torch-scatter==2.1.0+pt113cu116
torch-sparse==0.6.16+pt113cu116
torch-cluster==1.6.0+pt113cu116
torch-spline-conv==1.2.1+pt113cu116
torch-geometric==2.2.0

# 其他依賴
absl-py==1.4.0
astunparse==1.6.3
attrs==22.2.0
cachetools==5.3.0
charset-normalizer==3.0.1
cloudpickle==2.2.1
conformer-rl==1.1.0
dill==0.3.6
h5py==3.8.0
pandas==1.4.4
scikit-learn==1.2.1
scipy==1.10.0
tensorflow==2.11.0
tqdm==4.64.1
rdkit-pypi==2022.9.4

seaborn==0.12.2


common-wrangler==0.3.5
ligninkmc==0.2.2

# conda deactivate && conda remove -n mycfm3 --all -y
# conda create -n myenv python=3.9 -y && conda activate myenv
# pip install setuptools==65.5.0 pip==21
# pip install -r requirements.txt
# pip install torch-geometric==2.2.0  # 這會自動拉取依賴
# conda install -c conda-forge mamba -y
# mamba install -c conda-forge rdkit -y  # 用 conda 安裝以避免編譯錯誤
# pip install conformer-rl[dev]
# pip install -e ".[dev]"  # 假設你在專案根目錄執行

# mamba install -c conda-forge libstdcxx-ng -y
# pip install "numpy<1.24" "setuptools<66" "wheel" --force-reinstall
# pip install gym==0.21.0 --no-deps --force-reinstall
# pip install "stable-baselines3==1.7.0" shimmy==0.2.1


# python example1.py
# ulimit -n 65535
# python example1.py

# conda 